@import url('https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans:wght@400;500;600;700&display=swap');



/* start: Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Itim', cursive;
    background-color: #111;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
/* end: Global */



/* start: Book */
.book {
    width: 100vw;
    aspect-ratio: 16 / 9;
    height: auto;
    position: relative;
    background-color: #000;
}
.book-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.book-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.book-text-wrapper > * {
    position: absolute;
    opacity: 0;
    animation: fadeIn 1.5s .3s linear forwards;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.book-text-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    user-select: none;
}
.book-control {
    position: absolute;
    left: 0;
    right: 0;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 1rem;
    z-index: 10;
    gap: 1rem;
    pointer-events: none;
}
.book-control > * {
    cursor: pointer;
    transition: opacity .2s;
    pointer-events: visible;
}
.book-control img {
    width: 3rem;
}
.book-music {
    margin-left: auto;
}
.book-top {
    top: 0;
}
.book-bottom {
    bottom: 0;
}
.book-progress {
    width: 100%;
    background-color: transparent;
    height: 2rem;
    border-radius: 3rem;
    border: 2px solid #FFF;
    position: relative;
    overflow: hidden;
}
.book-progress span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--progress);
    background-color: #5788ff;
    transition: .3s;
}
.btn-fullscreen {
    display: none;
}
/* end: Book */



/* start: Breakpoints */
@media screen and (max-width: 575px) {
    .book-next,
    .book-back {
        display: none;
    }
    .btn-fullscreen {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: #111;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        color: #FFF;
        cursor: pointer;
    }
    .book:fullscreen figcaption,
    .book:fullscreen .btn-fullscreen {
        display: none;
    }
}



@media screen and (orientation: landscape) {
    .book {
        height: 100vh;
        width: auto;
    }
}
/* end: Breakpoints */